@charset "utf-8";

/*公共css样式分离*/ /*此处为公用css，如果一个只在单个业务系统中使用，请将该样式移到对应的业务系统对应的css文件夹下*/
* {
	font: 12px;
}

/* @font-face {
 font-family: 'sagoa';
 src: local('sagoa'),
 url('./tahoma.ttf') format('truetype');
}
 */
html,body {
	height: 100%;
	MIN-WIDTH: 1000px;
	MIN-height: 510px;
	padding: 0px;
	margin: 0px;
	overflow-y: auto;
	background-color: #f3f5f0;
}

html,body,input,select,td,th,button,form,textarea {
	font-family: Arial,微软雅黑;/*tahoma, segoe ui light*/
	font-size: 12px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, select {
    margin: 0;
    padding: 0;
}

table {
    border-spacing: 0;
}

input,label,img{ 
	vertical-align:middle;
}


/**
 *---------------------------------全局超链接样式 start------------------
 */
a:link,a:visited,a:active {
	color: #474b4f;/*#6ab331 B4CEF8 1155CC*/
	text-decoration: underline;
	/*text-decoration: underline;*/
	cursor: pointer;
	/*border-bottom:0px solid #1155CC;*/
	/*padding-bottom:1px;数值越大 下方空隙越大 */
}
a:hover {
	color: #3C85C8;/*ff6600*/
	text-decoration: none;
	cursor: pointer;
	/*border-bottom:1px solid #1155CC;*/
	/*padding-bottom:1px;数值越大 下方空隙越大 */
}
/**
 *---------------------------------全局超链接样式 end--------------------
 */
textarea {
	resize: none;
	border: 1px solid #C3C2C2;
	background-color: #ffffff;
	/*font-size: 12px;*/
}
input[type="text"],input[type="password"],input[type=null],select {
	height: 22px;
	line-height: 22px;
	padding: 0 3px;
	border: 1px solid #C3C2C2;
	background-color: #ffffff;
	/*font-size: 12px;*/
	/* border-radius: 3px; */
}

input::-ms-clear { 
	display: none; 
}

select {
	height: 24px;
	line-height: 24px;
	padding: 0 0px;
	border: 1px solid #C3C2C2;
	background-color: #ffffff;
	white-space: nowrap;
}

select[multiple=""] {
	height: auto;
	line-height: normal;
}

input[type="text"]:hover,input[type="password"]:hover,input[type=null],select[multiple=null]:hover,textarea:hover {
	border: 1px solid #a9a7a7;
	/*background: #f8f8f8;*/
}

input[type="text"]:focus,input[type="password"]:focus,input[type=null]:focus,select[multiple=null]:focus,textarea:focus {
	border: 1px solid #6ab331;
	/*background: #f8f8f8;*/
}

input[disabled="disabled"],input[disabled="disabled"]:hover,input[disabled="disabled"]:focus,textarea[disabled="disabled"]:hover,textarea[disabled="disabled"]:focus {
    background-color: #ebebeb;
    border: 1px solid #d2d2d2;
}

input[readonly="readonly"],input[readonly="readonly"]:hover,input[readonly="readonly"]:focus {
    background-color: #ebebeb;
}

table {
	border-collapse: collapse\9;
	border-spacing: 0px;
}

img {
	border: 0;
}

button {
	cursor: pointer;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-weight: normal;
	font-style: normal;
}

ol,ul {
	list-style: none;
}
caption {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size: 100%;
}

q:before,q:after {
	content: ”;
}

abbr,acronym {
	border: 0;
}

fieldset {
	border: 1px solid #e3e3e3;
	padding: 5px;
	background: url(../images/images_bg.gif) repeat-x;
	background-position: 0px -340px;
	background-position: 0px -325px\9;
	_background-position: 0px -325px;
}

fieldset legend {
	padding: 2px 3px;
	background: url(../images/images_bg.gif) 0px -824px repeat-x;
	border: 1px solid #c6c8ca;
	background-position: 0px -824px;
	color: #333333;
}
